*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.d-f{
    display: flex;
}
.jc-c{
    display: flex;
    justify-content: center;
}
.jc-sb{
    display: flex;
    justify-content: space-between;
}
.jc-sa{
    display: flex;
    justify-content: space-around;
}
.ai-c{
    display: flex;
    align-items: center;
}
.m50{
    margin: 50px;
}
.p50{
    padding: 50px;
}
.m10{
    margin: 10px;
}
.mt10{
    margin: 10px 0 0 0;
}
.mb10{
    margin: 0 0 10px 0;
}
.ml10{
    margin: 0 0 0 10px;
}
.mr10{
    margin: 0 10px 0 0 ;
}
.mlr10{
    margin: 0 10px;
}
.mtb10{
    margin: 10px 0;
}
.mt50{
    margin: 50px 0 0 0;
}
.mb50{
    margin: 0 0 50px 0;
}
.ml50{
    margin: 0 0 0 50px;
}
.mr50{
    margin: 0 50px 0 0 ;
}
.mlr50{
     margin: 0 50px;
 }
.mtb50{
    margin: 50px 0;
}
.mt100{
    margin: 100px 0 0 0;
}
.mb100{
    margin: 0 0 100px 0;
}
.ml100{
    margin: 0 0 0 100px;
}
.mr100{
    margin: 0 100px 0 0 ;
}
.mlr100{
    margin: 0 100px;
}
.mtb100{
    margin: 100px 0;
}
a{
    text-decoration: none;
}
.flex-d_c{
    flex-direction: column;
}
.left{
    width: 40%;
}
.right{
    width: 40%;
}
.w100{
    width: 100%;
}
